{% extends 'newwine/base.html' %}
{% block title %}Articles | New Wine{% endblock %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'newwine/static/css/upcoming.css' %}" />
{% endblock %}

{% block body %}
<body style="background-color: rgba(255,255,255,1.00); background-image: none;" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% include 'newwine/static-navbar.html' %}

    

    <!-- Article Head -->
    <div id="article-head">
        <div id="article-head-text">
            <p style="font-size: 40px;">Newwine Articles</p>
            <p style="font-size: 20px; font-style: italic; font-weight: normal;">
                "Give Instruction To A Wise Man, And He Will Be Yet Wiser"
            </p>
        </div>
    </div>
    <!-- Article Head END -->


    

    <!-- Article Main -->
    <div style="margin-bottom: 90px;" class="container">
        <div class="row">
        {% for article in articles%}
            <div style="margin-top: 90px;" class="col-sm-4 col-sm-offset-0 col-lg-4 col-lg-offset-0">
                <div class="card">
                    <div class="card-image">
                        <img style="height: 100%; width: 100%;" class="img-responsive overlay-img" src="{{ article.article_img.url }}">
                        <span class="card-title">{{ article.article_title }}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ article.article_overview }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'newwine:article-details' article.id%}">Read More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <!-- Article Main END -->





{% endblock %}

{% block js %}
<script>
    // Initialize WOW.js Scrolling Animations
    new WOW().init();
//NAV


// jQuery to collapse the navbar on scroll
$(window).scroll(function() {
    if ($(".navbar").offset().top > 50) {
        $(".navbar-fixed-top").addClass("top-nav-collapse");
    } else {
        $(".navbar-fixed-top").removeClass("top-nav-collapse");
    }
});

// jQuery for page scrolling feature - requires jQuery Easing plugin
$(function() {
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500, 'easeInOutExpo');
        event.preventDefault();
    });
});

// Closes the Responsive Menu on Menu Item Click
$('.navbar-collapse ul li a').not('.dropdown-toggle').click(function() {
    $('.navbar-toggle:visible').click();
});
//NAV END



//Scroll Bar
if($(window).width()>1024) {
    $('body,.modal').niceScroll({
      scrollspeed:'100',
      mousescrollstep:'40',
      zindex:'99999',
      bouncescroll:'enable',
      cursorborderradius:'0px',
      cursorborder:'none',
      cursorcolor:'#EFDF03'
    });
  }
//Scroll Bar END	


//-------- OPEN

  $('[data-popup-open]').on('click',function(e) {
    "use strict";
    var targeted_popup_class = $(this).attr('data-popup-open');
    $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

    e.preventDefault();
  });



  //-------- CLOSE
  $('[data-popup-close]').on('click',function(e) {
    var targeted_popup_class = $(this).attr('data-popup-close');
    $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);

    e.preventDefault();
  });	
</script>
{% endblock %}