{% extends 'newwine/base.html' %}
{% block title %}Registration | New Wine{% endblock %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'newwine/static/css/style.css' %}" />
{% endblock %}

{% block body %}
<body>
{% include 'newwine/static-navbar.html' %}



<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="message">
				<h1>Your Details Are Already In The Database</h1>
				<p style="font-size: 18px;">Thank you very much for participating in this exercise but you have already filled this form</p>
				<p style="font-size: 18px;">God richly bless you!</p>
				<p style="font-size: 18px;">Enjoy New Wine!</p>
			</div>
		</div>
	</div>	
</div>
</body>

{% endblock %}

{% block footer %}
{% endblock%}

{% block js %}
<script type="text/javascript" src="{% static 'newwine/static/js/main.js' %}"></script>
{% endblock %}